/*Errors*/
.screen-cover {
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    align-items: center;
    justify-content: center;
}
.error-box, .confirmation-box {
    min-width: 280px;
    min-height: 150px;
    padding: 20px;
    background-color: aliceblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
.main-button:hover,.form .main-button:active,.form .main-button:focus {
    background: #43A047;
}
/*Yes & No*/
.confirmation-box .main-button {
    margin: 4px 0;
}

/*NAVBAR*/
nav {
    position: relative;
    z-index: 980;
}
.navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-left: 20px;
    right: 40%;
    min-width: fit-content;
    max-width: 420px;
}
.navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
}
.navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
}
.navbar-collapse .nav-item {
    padding: 15px;
}

/*HOME*/
#map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
 /*.login-page {display: none !important;}*/
.home, .page {
    display: none;
}

/*TEMPLATE*/
.page {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 990;
    background: #fff;
}
.page .navbar-nav {
    display: block;
    padding: 5px 20px;
}








.inbox {
    position: relative;
    z-index: 990;
}
.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both; cursor: pointer;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.active_chat{ background:#ebebeb;}






.msgs {
    display: none;
    position: relative;
    height: 100%;
    z-index: 995;
}
.incoming_msg_img {
    display: inline-block;
    width: 6%;
  }
  .received_msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
   }
   .received_withd_msg p {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
  }
  .time_date {
    color: #747474;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
  }
  .received_withd_msg { width: 57%;}  
.sent_msg p {
background: #25d366 none repeat scroll 0 0;
border-radius: 3px;
font-size: 14px;
margin: 0; color:#fff;
padding: 5px 10px 5px 12px;
width:100%;
}
.outgoing_msg{ overflow:hidden; margin: 0px 10px;}
.sent_msg {
float: right;
width: 46%;
}
.input_msg_write {
    height: 100%;
}
.input_msg_write textarea {
resize: none;
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: medium none;
color: #4c4c4c;
font-size: 15px;
height: 100%;
width: 100%;
}

.type_msg {overflow: hidden;height: 20%; border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
background: #25d366 none repeat scroll 0 0;
border: medium none;
border-radius: 50%;
color: #fff;
cursor: pointer;
font-size: 17px;
height: 33px;
position: absolute;
right: 5px;
top: 11px;
width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
height: 80%;
overflow-y: auto;
}
.msg_history>div:first-child {
    margin-top: 10px;
}