<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fast.uber" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>FASTUber</name>
    <description>
        A transportation app for FASTians.
    </description>
    <author email="k173673@nu.edu.pk" href="http://phonegap.com">
        FASTUber Team
    </author>
    <content src="index.html" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <access origin="*" />
    <allow-intent href="*" />
    <allow-navigation href="*" />
    <universal-links>
        <host name="fastuber.page.link" scheme="https" />
        <host name="uber-dfd1c.firebaseapp.com" scheme="https">
            <path url="/__/auth/callback" />
        </host>
    </universal-links>
    <edit-config file="*-Info.plist" mode="merge" target="NSLocationWhenInUseUsageDescription">
        <string>Need location access to find drivers nearby.</string>
    </edit-config>
    <engine name="browser" spec="^5.0.4" />
    <engine name="android" spec="^7.0.0" />
    <plugin name="cordova-plugin-buildinfo" spec="2.0.2" />
    <plugin name="cordova-plugin-browsertab" spec="0.2.0" />
    <plugin name="cordova-plugin-inappbrowser" spec="3.0.0" />
    <plugin name="cordova-universal-links-plugin" spec="git+https://github.com/walteram/cordova-universal-links-plugin.git" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-geolocation" spec="^4.0.1" />
</widget>
